[Unit]
Description=Jig script started as a service

[Service]
Type=simple
User=root
Group=root
ExecStart=python3 /usr/share/custom-script/main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target