[Unit]
Description=Check on internet connection as a service.

[Service]
Type=simple
User=systemuser
Group=systemuser
ExecStart=python3 /usr/share/internet-check/internet-check.py
ExecStop=/bin/kill -INT $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target